.App {
  padding: 10px;
}

.title {
  margin-top: 0;
}

.output {
  font-size: 20px;
  font-weight: bold;
  background: #e5e5e5;
  color: darkgreen;
  padding: 15px;
}

.es5Source {
  font-size: 18px;
  border: 2px solid gray;
}

ul {
  font-size: 20px;
}
